<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar *blockUI=" 'detailsListBlock' ">

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
      fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0" fxLayout="row wrap" fxLayoutAlign="start center">
        <mat-icon style="cursor:pointer" class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
          [routerLink]="'/master-lookups/list'">arrow_back</mat-icon>
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{
          masterTitle }} Lookups</span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row wrap" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
          <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
          <input matInput [formControl]="searchInput" id="search" placeholder="Search for anything">
        </mat-form-field>
      </div>
      <!-- / SEARCH -->

      <button mat-raised-button (click)="addDetailsLookup()" class="add-product-button text-uppercase mat-white-bg my-12 mt-sm-0">
        <span>Add Details Lookup</span>
      </button>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <div class="example-loading-shade " *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>

      <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
        fusePerfectScrollbar>

        <!-- ID Column -->
        <ng-container cdkColumnDef="value">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>ID</mat-header-cell>
          <mat-cell *cdkCellDef="let detail">
            <p class="text-truncate">{{detail.value}}</p>
          </mat-cell>
        </ng-container>



        <!-- Name Column -->
        <ng-container cdkColumnDef="text">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *cdkCellDef="let detail">
            <p class="text-truncate">{{detail.text}}</p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="parentId">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header class="text-center">ParentId</mat-header-cell>
          <mat-cell *cdkCellDef="let detail" class="text-center">
            <p class="text-truncate" [matTooltip]="detail.parentTitle" *ngIf="detail.parentId">{{detail.parentId}}</p>
            <p class="text-truncate" *ngIf="!detail.parentId">-</p>
          </mat-cell>
        </ng-container>

        <!-- Active Column -->
        <ng-container cdkColumnDef="options">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>
            <mat-icon class="mat-18">equalizer</mat-icon>
          </mat-header-cell>
          <mat-cell *cdkCellDef="let detail" fxHide fxShow.gt-xs>
            <mat-icon (click)="addDetailsLookup(detail)" matTooltip="Edit detail Lookup" class="accent-500-fg">edit</mat-icon>
            <mat-icon (click)="onDeleteClick(detail)" matTooltip="Delete detail Lookup" class="warn-500-fg">delete</mat-icon>
          </mat-cell>
        </ng-container>


        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *cdkRowDef="let detail; columns: displayedColumns;" class="product" matRipple>
        </mat-row>

      </mat-table>

      <!-- <mat-paginator [length]="productsLength" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10">
      </mat-paginator> -->

    </div>


    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
