.img-logo {
    height: 80px;
    max-width: 200px;
}

.img-card {
    min-width: 80px;
    min-height: 80px;
}

.form-wrapper {
    padding: 15px;
    width: 100%;
}

.content {
    form {
        width: 100%;
    }
}
