
.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
  }
  .responsive-image {
    max-width: 100%;
  }
  
  .cell img {
    display: block;
  }
  .cell {
    margin: 1rem;
  }
  @media screen and (min-width: 600px) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .cell {
      width: 50%;
    }
  }
  @media screen and (min-width: 1000px) {
    .cell {
      width: calc(100% / 3);
    }
  }
  @media screen and (min-width: 600px) {
    .cell {
      width: calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 1000px) {
    .cell {
      width: calc(33.3333% - 2rem);
    }
  }
 