<div *ngIf="timeSheets.length === 0" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <span class="no-text hint-text text-uppercase text-center">Select A Task to view Time Sheet </span>
</div>

<div class="mail-list" *fuseIfOnDom [@animateStagger]="{value:'50'}">
  <div fxLayout="row wrap" class="timeSheetItem" fxLayoutAlign="start center" *ngFor="let timesheet of timeSheets"
   [@animate]="{value:'*',params:{y:'100%'}}">
    <div class="info" fxFlex FlexLayout="column">
      <div class="row-1" fxLayout="row wrap" fxLayoutAlign="start center">

        <div  fxLayout="row wrap" fxLayoutAlign="start center" fxFlex>
          <!-- <img class="avatar" alt="{{timesheet?.name}}" src="assets/images/avatars/profile.jpg" /> -->
          <mat-checkbox class="avatar" matTooltip="Done"  type="checkbox" [checked]="timesheet?.done" (change)="onMyTimeSheetDoneChange(timesheet?.id,$event)"> </mat-checkbox>
<!-- 
          <span class="text-truncate" *ngIf="timesheet?.assign">{{timesheet?.assign?.name}}
          </span>
          <span class="text-truncate" *ngIf="!timesheet?.assign"> No assign</span> -->
          <div class="message text-truncate" *ngIf="timesheet?.notes">
            {{timesheet.notes | htmlToPlaintext | slice:0:50}}{{timesheet.notes.length > 50 ? '...' : ''}}
          </div>
          <span class="attachCount" matTooltip="Attachment Count">
            <mat-icon *ngIf="timesheet.attachmentCount" matBadgeOverlap="false" matBadgeColor="accent" [matBadge]="timesheet.attachmentCount"
              matBadgeOverlap="false">attachment</mat-icon>
          </span>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <span>
            <b>Hours:</b> {{timesheet?.hours}}
          </span>

          <div class="time" *ngIf="timesheet?.startDate"> <b>| Start Date: </b> {{timesheet.startDate | date : 'dd MMM'
            }}
          </div>
          <div class="time" *ngIf="timesheet?.completeDate"> <b> | End Date: </b> {{timesheet.completeDate | date : 'dd
            MMM' }}
          </div>

          <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation()"
            fxHide.xs>
            <mat-icon class="secondary-text">more_vert</mat-icon>
          </button>

          <mat-menu #moreMenu="matMenu">

            <button mat-menu-item aria-label="edit time record" (click)="EditTimesheet(timesheet)">
              <mat-icon color="accent">edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item aria-label="delete time record" (click)="openDeleteConfirmationModal(timesheet)">
              <mat-icon color="warn">delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>

      </div>

      <!-- <div class="row-2" fxLayout="row wrap" fxLayoutAlign="start center">

        <div fxLayout="column" fxLayoutAlign="start start">

        </div>
        <br>
      </div> -->
          <!-- <mat-chip-list>
            <mat-chip>One fish</mat-chip>
            <mat-chip>Two fish</mat-chip>
            <mat-chip color="primary" selected>Primary fish</mat-chip>
            <mat-chip color="accent" selected>Accent fish</mat-chip>
          </mat-chip-list> -->
    </div>
  </div>
</div>
