<!--this code is related to dialog-pop-->
  <div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class=" m-0 mat-accent-bg">
      <mat-toolbar-row fxLayout="row wrap" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
      </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
      <form [formGroup]="taskForm">
          <input formControlName="id" hidden>
        <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutWrap>
             <mat-form-field fxFlex="100%" class="w-100-p">
                <input matInput name="name" placeholder="Task Title" formControlName="name" required>
              </mat-form-field>

              <mat-form-field fxFlex="100%" class="w-100-p">
              <textarea matInput name="description" placeholder="Description..." rows="3" formControlName="detail">
              </textarea>
            </mat-form-field>
            <mat-form-field fxFlex="33%" class="w-100-p">
            <mat-select placeholder="Project " [(ngModel)]="projectDefault" formControlName="projectId" required  (ngModelChange)="selectedProject($event)">
              <mat-option *ngFor="let project of projectList" [value]="project.id">
                {{project.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="33%" class="w-100-p">
            <mat-select placeholder="Sub Project " formControlName="projectSubId">
              <mat-option *ngFor="let project of filteredSubProject" [value]="project.id">
                {{project.name}}
              </mat-option>
              <mat-option *ngIf="filteredSubProject.length==0">Not Available</mat-option>
            </mat-select>
          </mat-form-field>
          <!--can't bind status in edit mode [(ngModel)]="selectedStatus" [(value)]="selected"-->
          <mat-form-field fxFlex="33%" class="w-100-p">
                <mat-select  [compareWith]="compareStatus" placeholder="Status " formControlName="status" [(ngModel)]="selectedStatus" required>
                  <!--change-->
                    <mat-option *ngFor="let status of taskStatus" [value]="status" (click)="updateStatus()">
                    {{status.text}}
                    </mat-option>
                </mat-select>
          </mat-form-field>
        <!--can't bind status in edit mode [(ngModel)]="selectedStatus"-->
          <mat-form-field fxFlex="33%" class="w-100-p">
            <input matInput name="refNum" placeholder="Ref #" formControlName="refNum">
          </mat-form-field>
          <mat-form-field fxFlex="33%">
            <input matInput [matDatepicker]="startDate" placeholder="Start Date" formControlName="startDate" [(ngModel)]="planModel.start_time">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>
          <mat-form-field fxFlex="33%">
            <input matInput [matDatepicker]="completeDate" placeholder="Complete Date" formControlName="completeDate" [(ngModel)]="endDate">
            <mat-datepicker-toggle matSuffix [for]="completeDate"></mat-datepicker-toggle>
            <mat-datepicker #completeDate></mat-datepicker>
          </mat-form-field>

        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <mat-form-field fxFlex="33%">
                <input matInput type="number" placeholder="estimateHour" [(ngModel)]="Hourvalue" formControlName="estimateHour" (click)="calculateHour()">
            </mat-form-field>
            <!--provide here a list of user-->
          <mat-form-field fxFlex="33%" class="w-100-p">
            <mat-select placeholder="UserName " formControlName="assignId" required>
              <mat-option *ngFor="let user of userList" [value]="user.id">
                {{user.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--provide here a list of user-->
        </div>
      </form>
      
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row wrap" fxLayoutAlign="space-between center">
   <!--<button *ngIf="action ==='edit'" matTooltip="Delete Project" mat-button class="mat-icon-button"   (click)="deleteProject()" aria-label="Delete"
        matTooltip="Delete">
        <mat-icon class="red-500-fg">delete</mat-icon>
  </button>!-->
  <button mat-raised-button (click)="dialogRef.close(['add',taskForm])" *ngIf="action === 'add' " class="save-button mat-accent" [disabled]="taskForm.invalid"
        aria-label="SAVE">
        SAVE
   </button>
  <button mat-raised-button (click)="dialogRef.close(['edit',taskForm])" *ngIf="action === 'edit' " class="save-button mat-accent" [disabled]="taskForm.invalid"
        aria-label="SAVE">
        Update
      </button>
    </div>
  </div>  
  <!--this code is related to dialog-pop-->