<div *ngIf="!timesheet" fxLayout="column" fxLayoutAlign="center center" fxFlex>
  <mat-icon class="s-120 mb-12 select-todo-icon" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}">check_box
  </mat-icon>
  <span class="hint-text mat-h1 select-todo-text" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'400ms'}}">Select a Timesheet
  </span>
</div>

<div *ngIf="timesheet">
  <form [formGroup]="timesheetForm" (submit)="addTimesheet()">
    <div class="todo-header" fxLayout="row wrap" fxLayoutAlign="space-between center">

      <div class="logo-text" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
        <span *ngIf="!timesheet.id">New Timesheet</span>
        <span *ngIf="timesheet.id">Edit Timesheet</span>
      </div>

      <div class="actions" fxLayout="row wrap" fxLayoutAlign="start center">
        <button mat-raised-button class="mat-accent" [disabled]="timesheetForm.invalid">
          <span *ngIf="!timesheet.id">SAVE</span>
          <span *ngIf="timesheet.id">Update</span>
        </button>
        <!-- <button mat-button class="mat-icon-button" (click)="deleteTimesheet()" aria-label="Toggle delete">
          <mat-icon>delete_forever</mat-icon>
        </button> -->
      </div>
    </div>

    <div class="todo-content">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between start">

          <mat-form-field fxFlex="45%">
            <input matInput name="startDate" formControlName="startDate" [matDatepicker]="startDate" placeholder="Start Date">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>

          <mat-form-field fxFlex="45%">
            <input matInput name="completeDate" formControlName="completeDate" [matDatepicker]="completeDate" placeholder="Complete Date">
            <mat-datepicker-toggle matSuffix [for]="completeDate"></mat-datepicker-toggle>
            <mat-datepicker #completeDate></mat-datepicker>
          </mat-form-field>

        </div>

        <mat-form-field fxFill>
          <input matInput formControlName="hours" type="number" placeholder="Hours" required placeholder="">
        </mat-form-field>

        <mat-form-field class="" fxFill>
          <textarea matInput #notes name="notes" formControlName="notes" placeholder="Notes" maxlength="500">
          </textarea>
          <mat-hint align="end">{{notes.value.length}} / 500</mat-hint>
        </mat-form-field>
    </div>
  </form>
</div>
