 <!--
<mat-grid-list cols="2" rowHeight="2:1" fusePerfectScrollbar>
    <img class="myImg" src="img_lights.jpg"  src="{{imageUrl}}" title="Naveed">
  </mat-grid-list>
  -->

  <div class="dialog-content-wrapper">
      <mat-toolbar matDialogTitle class=" m-0 mat-accent-bg">
        <mat-toolbar-row fxLayout="row wrap" fxLayoutAlign="space-between center">
          <span class="title dialog-title">Image Viewer</span>
          <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
      <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
          <mat-grid-list cols="2" rowHeight="2:1" fusePerfectScrollbar>
              <img class="myImg" src="img_lights.jpg"  src="{{imageUrl}}" title="Naveed">
          </mat-grid-list>
       <!--
         <div fxLayout="row wrap" fxLayoutAlign="start start">
          <mat-form-field fxFlex>
            <input name="name"[(ngModel)]="Height"  placeholder="Height" matInput required/>
          </mat-form-field>
        </div>
      <div fxLayout="row wrap" fxLayoutAlign="start start">
            <mat-form-field fxFlex>
              <input name="name" [(ngModel)]="width"  placeholder="Width" matInput required/>
            </mat-form-field>
      </div>
       -->
        <div fxLayout="row wrap" fxLayoutAlign="start start">
            <mat-form-field fxFlex>
            <input name="imageUrl" [(ngModel)]="imageUrl" placeholder="imageUrl" matInput required/>              
            </mat-form-field>
        </div>
        <!--
          <div mat-dialog-actions class="m-0 p-16" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <button mat-raised-button  (click)="save()" class="save-button mat-accent" aria-label="SAVE">SAVE</button>
       </div>
        -->
      </div>
  </div>
    