@import "src/@fuse/scss/fuse";
:host {
  width: 100%;
  .center {
    margin-left: 0 !important;
    margin-right: 0 !important;
    .header {
      .search-wrapper {
        @include mat-elevation(7);
        .sidenav-toggle {
          margin: 0;
          width: 56px;
          height: 56px;
          background: #FFF;
          border-radius: 0;
          border-right: 1px solid rgba(0, 0, 0, .12);
        }
        .search {
          width: 100%;
          height: 56px;
          line-height: 56px;
          padding: 18px;
          input {
            height: 56px;
            padding-left: 16px;
            color: rgba(0, 0, 0, 0.54);
            border: none;
            outline: none;
          }
        }
      }
    }
    .content-card {
      margin-top: 30px;
      border-radius: 2px;
      @include media-breakpoint(xs) {
        fuse-mail-list {
          border-right: none;
        }
        fuse-mail-list,
        fuse-mail-details {
          flex: 1 0 100%;
        }
        fuse-mail-details {
          display: none !important;
        }
        &.current-mail-selected {
          .toolbar {
            padding-left: 16px !important;
            .mail-selection {
              display: none !important;
            }
          }
          .content {
            fuse-mail-list {
              display: none !important;
            }
            fuse-mail-details {
              display: flex !important;
            }
          }
        }
      }
    }
  }
}

.logo {
  .logo-icon {
    margin: 0 16px 0 0;
  }
  .logo-text {
    font-size: 17px;
    line-height: 20px;
  }
}

.mat-chip {
  padding: 10px;
  font-size: 13px;
  border-radius:4px;
}

mat-card {
  width: 100%;
}
