<!--up-->
<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>
  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->
  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0" fxLayout="row wrap" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">settings</mat-icon>
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Setting</span>
      </div>
      <!-- / APP TITLE -->
 
        <div class=" my-12 mt-sm-0">
            <button mat-raised-button color="accent" class="mr-4" (click)="SyncSettings()">Sync List</button>
            <button mat-raised-button (click)="newSetting()"  class="add-product-button mat-white-bg m-4">
                <span> NEW </span>
              </button>
        </div>
     
  </div>

  <!--ContentCard-->
  <div class="content-card mat-white-bg">
    <mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoadingResults"></mat-progress-bar>

    <mat-tab-group >
      <mat-tab  *ngFor="let tab of tablist" label={{tab.name}} >
        <ng-container >
          <app-feature-list [tabname]="tab"  ></app-feature-list>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
  <!--ContentCard-->
  </div>
  </div>

